extends _template.pug
include web-thecartel/pug/button-sosmed.pug
include web-thecartel/pug/trendingpost.pug
include web-thecartel/pug/helpguides.pug

block konten
  +socialButtons()
  +trendingPostSection()
  +ecommerceGuideSection()

  style.
    .title {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }

    .h1-title {
      font-size: 36px;
      margin-top: 100px;
      margin-bottom: 10px;
    }

    .h2-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .h3-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .h4-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .h5-title {
      font-size: 22px;
      margin-bottom: 10px;
    }

    .h6-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .h5-title-4 {
      font-size: 22px;
      margin-top: 50px;
      margin-bottom: 1px;
    }

    .h6-title-4 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .content {
      padding-left: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .content-second,
    .content-third,
    .content-fourth,.content-fifth {  
      padding-left: 20px;
    }

    .p-content-1, .p-content-2, .p-content-3, .p-content-4, .p-content-5 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .content-row {
      display: flex;
      gap: 15px;
      margin-top: 20px;
    }

    .payment-processed-icon {
      width: 100%;
      position: absolute;
      max-width: 100%;
      overflow: hidden;
      height: 380px;
      object-fit: cover;
      top: 49px;
      left: 810px;
      width: 470px;
    }

    .rectangle-div {
      width: 100%;
      position: absolute;
      filter: blur(100px);
      background-color: #54d0f5;
      height: 139px;
      top: 250px;
      left: 810px;
      width: 470px;
    }


  .rectangle-div

  img.payment-processed-icon(alt="", src="web-thecartel/image/rb_2148955260.png")

  div.content 
    h1.h1-title "The Cartel" 
    h2.h2-title ( A Comprehensive Guide to Starting a Multivendor Business) 
    p.p-content-1 by The Cartel Team
    p.p-content-1 1st April 2024
    p.p-content-1 This article will provide practical steps and strategies for starting a multivendor business,
    p.p-content-1 including how to choose a platform, manage vendors, and promote products.

  div.content-row
    div.content.content-second
      h3.h3-title "Latest Innovations in E-commerce: What Every Entrepreneur Should Know" 
      h4.h4-title (Tried & Tested)
      p.p-content-2 by The Cartel Team
      p.p-content-2 31st May 2024
      p.p-content-2 Presenting the latest trends and technologies in the e-commerce world, this article will help
      p.p-content-2 entrepreneurs understand innovations that can enhance their business.

    div.content.content-third
      h5.h5-title "Optimizing Sales on The Cartel"
      h6.h6-title (Strategies and Tips)
      p.p-content-3 by The Cartel Team
      p.p-content-3 3rd May 2024
      p.p-content-3 Focusing on effective marketing and sales strategies on The Cartel platform, this article will 
      p.p-content-3 provide practical advice for increasing conversion rates and reaching more customers.

  div.content-row  
    div.content.content-fourth
      h5.h5-title-4 "Identifying Business Opportunities: 10 Tips for Success in Marketplaces"
      h6.h6-title-4 by The Cartel Team
      p.p-content-4 18th March 2024
      p.p-content-4 This piece will offer proven tips and tricks for entrepreneurs to achieve success in 
      p.p-content-4 marketplaces, including ways to attract consumer attention and boost sales.

    div.content.content-fifth
      h5.h5-title-4 "E-commerce Trends for 2024"
      h6.h6-title-4  What Every Entrepreneur Should Know
      p.p-content-5 25th April 2024
      p.p-content-5 As ecommerce continues to evolve, several new trends are emerging that every 
      p.p-content-5 business owner should be aware of to stay competitive in the market.

  div.content-row  
    div.content.content-fourth
      h5.h5-title-4 "How The Cartel Helps Entrepreneurs Build Successful Businesses"
      h6.h6-title-4 by The Cartel Team
      p.p-content-4 18th March 2024
      p.p-content-4 This article will explain the features and services offered by The Cartel that are designed to
      p.p-content-4 support entrepreneurs in growing their businesses.

    div.content.content-fifth
      h5.h5-title-4 "7 Common Mistakes in Starting a"
      h6.h6-title-4 Marketplace and How to Avoid Them
      p.p-content-5 25th April 2024
      p.p-content-5 Presenting common mistakes often made by new entrepreneurs when starting a
      p.p-content-5 marketplace, along with solutions and strategies to avoid them.

  div.content-row  
    div.content.content-fourth
      h5.h5-title-4 "E-commerce in the Digital Age"
      h6.h6-title-4 Navigating Challenges and Opportunities"
      p.p-content-4 18th March 2024
      p.p-content-4 Discussing the challenges and opportunities faced by entrepreneurs in the digital age, and
      p.p-content-4 how to remain competitive in a rapidly changing environment.

    div.content.content-fifth
      h5.h5-title-4 "Marketing Strategies for Marketplaces: Leveraging Social Media"
      h6.h6-title-4 by The Cartel Team
      p.p-content-5 25th April 2024
      p.p-content-5 Providing a guide on how to use social media as an effective marketing tool to enhance
      p.p-content-5 visibility and sales in marketplaces.

  div.content-row  
    div.content.content-fourth
      h5.h5-title-4 "Building a Community Around Your Marketplace: The Key to Success"
      h6.h6-title-4 by The Cartel Team
      p.p-content-4 18th March 2024
      p.p-content-4 Explaining the importance of building a community around a marketplace and how 
      p.p-content-4 engaging with customers can increase loyalty and create stronger relationships.

    div.content.content-fifth
      h5.h5-title-4 "Mastering SEO for E-commerce: Boosting Your Online Visibility"
      h6.h6-title-4 by The Cartel Team
      p.p-content-5 25th April 2024
      p.p-content-5 This article will cover essential SEO strategies tailored for e-commerce businesses, helping 
      p.p-content-5 entrepreneurs enhance their websites visibility and attract organic traffic.

  div.content-row  
    div.content.content-fourth
      h5.h5-title-4 "The Power of Data Analytics in E-commerce: Making Informed Decisions"
      h6.h6-title-4 by The Cartel Team
      p.p-content-4 18th March 2024
      p.p-content-4 Discussing the role of data analytics in e-commerce, this post will guide entrepreneurs on
      p.p-content-4 how to leverage data to understand customer behavior and improve sales strategies.

    div.content.content-fifth
      h5.h5-title-4 "Navigating Payment Gateways: A Guide for E-commerce Entrepreneurs"
      p.p-content-5 25th April 2024
      p.p-content-5 This piece will explore various payment gateway options available for online businesses,
      p.p-content-5 discussing their pros and cons to help entrepreneurs choose the right solution for their marketplace.

  div.content-row  
    div.content.content-fourth
      h5.h5-title-4 "The Power of Data Analytics in E-commerce: Making Informed Decisions"
      h6.h6-title-4 by The Cartel Team
      p.p-content-4 18th March 2024
      p.p-content-4 Discussing the role of data analytics in e-commerce, this post will guide entrepreneurs on
      p.p-content-4 how to leverage data to understand customer behavior and improve sales strategies.

    div.content.content-fifth
      h5.h5-title-4 "Navigating Payment Gateways: A Guide for E-commerce Entrepreneurs"
      p.p-content-5 25th April 2024
      p.p-content-5 This piece will explore various payment gateway options available for online businesses,
      p.p-content-5 discussing their pros and cons to help entrepreneurs choose the right solution for their marketplace.
