extends _template.pug
include web-thecartel/pug/button-sosmed.pug
include web-thecartel/pug/trendingpost.pug
include web-thecartel/pug/helpguides.pug

block konten
  +socialButtons()
  +trendingPostSection()
  +ecommerceGuideSection()

  style.
    .title {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }

    .h1-title {
      font-size: 36px;
      margin-top: 100px;
      margin-bottom: 10px;
    }

    .h2-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .h3-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .h4-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .h5-title {
      font-size: 22px;
      margin-bottom: 10px;
    }

    .h6-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .h5-title-4 {
      font-size: 22px;
      margin-top: 50px;
      margin-bottom: 1px;
    }

    .h6-title-4 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .content {
      padding-left: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .content-second,
    .content-third,
    .content-fourth,.content-fifth {  
      padding-left: 20px;
    }

    .p-content-1, .p-content-2, .p-content-3, .p-content-4, .p-content-5 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .content-row {
      display: flex;
      gap: 15px;
      margin-top: 20px;
    }

    .payment-processed-icon {
      width: 100%;
      position: relative;
      max-width: 100%;
      overflow: hidden;
      height: 380px;
      object-fit: cover;
      top: 49px;
      left: 810px;
      width: 470px;
    }

    .rectangle-div {
      width: 100%;
      position: absolute;
      filter: blur(100px);
      background-color: #54d0f5;
      height: 139px;
      top: 250px;
      left: 810px;
      width: 470px;
    }


  .rectangle-div

  img.payment-processed-icon(alt="", src="web-thecartel/image/rb_2148955260.png")

  div.content 
    h1.h1-title "The Cartel" 
    h2.h2-title ( A Comprehensive Guide to Starting a Multivendor Business) 
    p.p-content-1 by The Cartel Team
    p.p-content-1 1st April 2024
    p.p-content-1 This article will provide practical steps and strategies for starting a multivendor business,
    p.p-content-1 including how to choose a platform, manage vendors, and promote products.

  div.content-row
    div.content.content-second
      h3.h3-title "Latest Innovations in E-commerce: What Every Entrepreneur Should Know" 
      h4.h4-title (Tried & Tested)
      p.p-content-2 by The Cartel Team
      p.p-content-2 31st May 2024
      p.p-content-2 Presenting the latest trends and technologies in the e-commerce world, this article will help
      p.p-content-2 entrepreneurs understand innovations that can enhance their business.

    div.content.content-third
      h5.h5-title "Optimizing Sales on The Cartel"
      h6.h6-title (Strategies and Tips)
      p.p-content-3 by The Cartel Team
      p.p-content-3 3rd May 2024
      p.p-content-3 Focusing on effective marketing and sales strategies on The Cartel platform, this article will 
      p.p-content-3 provide practical advice for increasing conversion rates and reaching more customers.

  div.content-row  
    div.content.content-fourth
      h5.h5-title-4 "Identifying Business Opportunities: 10 Tips for Success in Marketplaces"
      h6.h6-title-4 by The Cartel Team
      p.p-content-4 18th March 2024
      p.p-content-4 This piece will offer proven tips and tricks for entrepreneurs to achieve success in 
      p.p-content-4 marketplaces, including ways to attract consumer attention and boost sales.

    div.content.content-fifth
      h5.h5-title-4 "E-commerce Trends for 2024"
      h6.h6-title-4  What Every Entrepreneur Should Know
      p.p-content-5 25th April 2024
      p.p-content-5 As ecommerce continues to evolve, several new trends are emerging that every 
      p.p-content-5 business owner should be aware of to stay competitive in the market.

