extends _template.pug
include web-thecartel/pug/blog-1.pug
include web-thecartel/pug/blog-2.pug
include web-thecartel/pug/blog-3.pug
//- include web-thecartel/pug/button-sosmed.pug
//- include web-thecartel/pug/trendingpost.pug
//- include web-thecartel/pug/helpguides.pug

block konten
  +blog-1
  +blog-2
  +blog-3
  //- +socialButtons()
  //- +trendingPostSection()
  //- +ecommerceGuideSection()