/* Container Flex */
.container-homepage {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Lebar penuh untuk container */
}

.container-homepage-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Lebar penuh untuk container */
}

/* Kolom kiri dan kanan */
.column {
    padding: 20px;
    box-sizing: border-box;
}

.column-content {
    padding: 20px;
    box-sizing: border-box;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.column-content.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .column-content {
        flex: 0 0 50%; /* Mengatur lebar kolom ke 50% */
        max-width: 50%;
    }
}

/* Lebar penuh pada layar kecil */
@media (max-width: 767px) {
    .column {
        flex: 0 0 100%; /* Lebar penuh untuk kolom pada layar kecil */
        max-width: 100%;
    }

    .column-content {
        flex: 0 0 100%; /* Lebar penuh untuk kolom pada layar kecil */
        max-width: 100%;
    }
}

.frame-bagus {
    top: 49px;
    width: 485px;
    height: 600px;
    overflow: hidden;
    object-fit: cover;
    margin-left: 100px;
}


.the {
    font-size: 80px;
    display: inline-block;
    background: linear-gradient(180deg, #999 9.5%, #fff 86.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 188px;
    height: 92px;
    font-weight: bold;
}

.cartel {
    font-size: 80px;
    font-weight: bold;
    margin-left: 130px;
    background: linear-gradient(180deg, #2581f7 42.67%, #164c91 74.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.unlimited-shopping-find {
    font-size: 32px;
    font-weight: 500;
    background: linear-gradient(90deg, #fff, #999 37.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 537px;
}

.image-57-icon {
    top: 609px;
    width: 251px;
    height: 228px;
    object-fit: cover;
}

.fashion-on-a-budget-trendy-ti1 {
    color: white;
}

.fashion-on-a-budget-trendy-ti {
    color: white;
}

.fashion-on-a {
    text-decoration: underline;
}

.absolute-content {
    position: absolute;
}

