doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TheCartel
          
    body
       block navbar
          include web-thecartel/pug/navbar.pug   
       block footer 
          include web-thecartel/pug/footer.pug