extends _template.pug
include web-thecartel/pug/homepage.pug
include web-thecartel/pug/homepage-2.pug
//- include web-thecartel/pug/komponenhome.pug
//- include web-thecartel/pug/category.pug
//- include web-thecartel/pug/raya.pug
//- include web-thecartel/pug/home.pug
block konten
  +home
  +home-2
  //- +raya
  //- +ler 
  //- +category 
