extends _template.pug
include web-thecartel/pug/komponenhome.pug
include web-thecartel/pug/category.pug
include web-thecartel/pug/raya.pug
include web-thecartel/pug/home.pug
block konten
  +home
  +raya
  +ler 
  +category 
block footer
  include web-thecartel/pug/footer.pug  
