extends _template.pug
include web-thecartel/pug/homepage.pug
include web-thecartel/pug/homepage-2.pug
include web-thecartel/pug/homepage-3.pug
//- include web-thecartel/pug/raya.pug

block konten
  +home
  +home-2
  +home-3
  //- +raya