.background {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #1d3e53 20%, #418ab9 85%);
    width: 1440px;
    height: 1024px;
    overflow: hidden;
}

.about1 {
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 290px;
    height: 127px;
}

.professional-problem-solutions-container {
    position: absolute;
    top: 535px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    display: inline-block;
    width: 826px;
    height: 241px;
}

.image-icon, .image-icon1 {
    position: absolute;
    top: 287px;
    width: 265px;
    height: 225px;
    object-fit: cover;
    border-radius: 20px;
}

.image-icon {
    left: 30%;
    transform: translateX(-50%);
}

.image-icon1 {
    left: 70%;
    transform: translateX(-50%);
}

.desktop-11-child {
    position: absolute;
    top: 223.5px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 5px solid #fff;
    box-sizing: border-box;
    width: 1446px;
    height: 5px;
}

.image-icon2 {
    position: absolute;
    top: 229px;
    left: 50%;
    transform: translateX(-50%);
    width: 578px;
    height: 260px;
    object-fit: cover;
}
