html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Memastikan tinggi body dan html memenuhi layar */
    overflow: hidden; /* Mencegah scroll di seluruh halaman */
}

.content-wrapper {
    min-height: 100vh; /* Setinggi 100vh untuk memenuhi layar */
    background: linear-gradient(to bottom, #0e3b57, #2b7bbf); /* Latar belakang gradien */
    padding: 20px;
    box-sizing: border-box; /* Agar padding tidak menambah tinggi */
}
