extends _template.pug
include web-thecartel/pug/whislist.pug
block konten
  +six([
  { value: "", image: "web-thecartel/image/Rectangle 36 (1).png" },
  { value: "", image: "web-thecartel/image/Rectangle 36 (2).png" },
  { value: "", image: "web-thecartel/image/Rectangle 36 (3).png" },
  { value: "", image: "web-thecartel/image/Rectangle 36 (4).png" },
  { value: "", image: "web-thecartel/image/Rectangle 36 (5).png" },
  { value: "", image: "web-thecartel/image/Rectangle 36 (6).png" },
  { value: "", image: "web-thecartel/image/Rectangle 36 (7).png" },
  { value: "", image: "web-thecartel/image/Rectangle 36 (8).png" }
])