mixin materialSymbolsSearchParent
  - var categories = [
    { text: 'Men', icon: 'Ellipse 7.png' },
    { text: 'Women', icon: 'Ellipse 7.png' },
    { text: 'Hat', icon: 'Ellipse 7.png' },
    { text: 'Shoes', icon: 'Ellipse 7.png' },
    { text: 'Watch', icon: 'Ellipse 7.png' }
    ]

  style.
    .material-symbolssearch {
      position: absolute;
      top: 176px;
      left: 673px;
      width: 24px;
      height: 30px;
      overflow: hidden;
    }
    .search {
      position: absolute;
      top: 14px;
      left: 465px;
      font-size: 20px;
      color: #fff;
      display: inline-block;
      width: 159px;
      height: 36px;
    }
    .category {
      position: absolute;
      top: 67px;
      left: 544px;
      font-size: 64px;
      color: #fff;
      display: inline-block;
      width: 310px;
      height: 78px;
    }
    .frame-child {
      position: absolute;
      top: 0px;
      left: calc(50% - 275px);
      border-radius: 10px;
      width: 550px;
      height: 50px;
    }
    .cari-icon {
      position: absolute;
      top: 8px;
      left: 934px;
      border-radius: 10px;
      width: 42px;
      height: 33px;
    }
    .frame-item {
      position: absolute;
      top: 69px;
      left: 0px;
      width: 1440px;
      height: 3px;
      object-fit: contain;
    }
    .frame-inner {
      position: absolute;
      top: 391px;
      left: 0px;
      width: 1440px;
      height: 5px;
      object-fit: contain;
    }
    .instance-child {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      max-width: 100%;
      overflow: hidden;
      max-height: 100%;
      object-fit: cover;
    }

  .material-symbolssearch-parent
    .material-symbolssearch
    .search Search....
    .category Category
    img.frame-child(alt="", src="Rectangle 60.svg")
    img.cari-icon(alt="", src="cari.svg")
    img.frame-item(alt="", src="Line 21.svg")
    img.frame-inner(alt="", src="Line 20.svg")

    //- Loop untuk setiap kategori dengan ikon dan teks
    each category in categories
      .vector
        img.instance-child(alt="", src=category.icon)
        div= category.text

+materialSymbolsSearchParent()