extends _template.pug
include web-thecartel/pug/coba.pug
include web-thecartel/pug/tulisanwomen2.pug
include web-thecartel/pug/button-backk3.pug
block konten
  +20([
  { value: '$89', image: 'web-thecartel/image/image (39).png' },
  { value: '$57', image: 'web-thecartel/image/image (40).png' },
  { value: '$34', image: 'web-thecartel/image/image (41).png' },
  { value: '$87', image: 'web-thecartel/image/image (42).png' },
  { value: '$74', image: 'web-thecartel/image/image (43).png' },
  { value: '$24', image: 'web-thecartel/image/image (44).png' },
  { value: '$97', image: 'web-thecartel/image/image (45).png' },
  { value: '$67', image: 'web-thecartel/image/image (46).png' },
  { value: '$89', image: 'web-thecartel/image/kk1.png' },
  { value: '$57', image: 'web-thecartel/image/kk2.png' },
  { value: '$34', image: 'web-thecartel/image/kk3.png' },
  { value: '$87', image: 'web-thecartel/image/kk4.png' },
  { value: '$74', image: 'web-thecartel/image/kk5.png' },
  { value: '$24', image: 'web-thecartel/image/kk6.png' },
  { value: '$97', image: 'web-thecartel/image/kk7.png' },
  { value: '$67', image: 'web-thecartel/image/kk8.png' },
  { value: '$74', image: 'web-thecartel/image/kk9.png' },
  { value: '$24', image: 'web-thecartel/image/kk10.png' },
  { value: '$97', image: 'web-thecartel/image/kk12.png' },
  { value: '$67', image: 'web-thecartel/image/kk10.png' }
])

  +katawomen2
  +back3