extends _template.pug
include web-thecartel/pug/shop8.pug
include web-thecartel/pug/tulisanshoes.pug
block konten
  +8([
  { value: '$89', image: 'web-thecartel/image/image (31).png' },
  { value: '$57', image: 'web-thecartel/image/image (32).png' },
  { value: '$34', image: 'web-thecartel/image/image (33).png' },
  { value: '$87', image: 'web-thecartel/image/image (34).png' },
  { value: '$74', image: 'web-thecartel/image/image (35).png' },
  { value: '$24', image: 'web-thecartel/image/image (36).png' },
  { value: '$97', image: 'web-thecartel/image/image (37).png' },
  { value: '$67', image: 'web-thecartel/image/image (38).png' }
])
  +katashoes