extends _template.pug
include web-thecartel/pug/shop7.pug
include web-thecartel/pug/button-loadmore3.pug
include web-thecartel/pug/tulisanhat.pug
block konten
  +7([
  { value: '$77', image: 'web-thecartel/image/image (17).png' },
  { value: '$66', image: 'web-thecartel/image/image (18).png' },
  { value: '$34', image: 'web-thecartel/image/image (19).png' },
  { value: '$23', image: 'web-thecartel/image/image (20).png' },
  { value: '$99', image: 'web-thecartel/image/image (21).png' },
  { value: '$67', image: 'web-thecartel/image/image (22).png' },
  { value: '$23', image: 'web-thecartel/image/image (23).png' }
])
  +loadmore3
  +katahat