extends _template.pug
include web-thecartel/pug/coba2.pug
include web-thecartel/pug/tulisanshoes2.pug
include web-thecartel/pug/button-backk.pug
block konten
  +18([
  { value: '$77', image: 'web-thecartel/image/image (17).png' },
  { value: '$66', image: 'web-thecartel/image/image (18).png' },
  { value: '$34', image: 'web-thecartel/image/image (19).png' },
  { value: '$23', image: 'web-thecartel/image/image (20).png' },
  { value: '$99', image: 'web-thecartel/image/image (21).png' },
  { value: '$67', image: 'web-thecartel/image/image (22).png' },
  { value: '$23', image: 'web-thecartel/image/image (23).png' },
  { value: '$77', image: 'web-thecartel/image/foto1.png' },
  { value: '$66', image: 'web-thecartel/image/foto2.png' },
  { value: '$34', image: 'web-thecartel/image/foto3.png' },
  { value: '$23', image: 'web-thecartel/image/foto4.png' },
  { value: '$99', image: 'web-thecartel/image/foto5.png' },
  { value: '$67', image: 'web-thecartel/image/foto6.png' },
  { value: '$23', image: 'web-thecartel/image/foto7.png' },
  { value: '$77', image: 'web-thecartel/image/foto8.png' },
  { value: '$66', image: 'web-thecartel/image/foto9.png' },
  { value: '$34', image: 'web-thecartel/image/foto10.png' },
  { value: '$23', image: 'web-thecartel/image/foto11.png' }
])

  +katahat2
  +back