extends _template.pug

block content
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="viewport", content="initial-scale=1, width=device-width")
      link(rel="stylesheet", href="./index.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap")

      style.
        .background {
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(180deg, #1d3e53 20%, #418ab9 85%);
          width: 1440px;
          height: 1024px;
          overflow: hidden;
        }
        .single-produk-child {
          position: absolute;
          top: 169px;
          left: 837px;
          width: 11px;
          height: 2px;
          overflow: hidden;
        }
        .single-produk-item, 
        .single-produk-inner, 
        .rectangle-icon, 
        .single-produk-child1, 
        .single-produk-child2, 
        .single-produk-child3, 
        .single-produk-child4 {
          position: absolute;
          top: 437px;
          width: 211px;
          height: 135px;
          object-fit: cover;
        }
        .single-produk-item { left: 0; }
        .single-produk-inner { left: 211px; }
        .rectangle-icon { left: 426px; }
        .single-produk-child1 { left: 631px; }
        .single-produk-child2 { left: 842px; }
        .single-produk-child3 { left: 1051px; }
        .single-produk-child4 { left: 1262px; }

        .image-icon {
          position: absolute;
          top: 585px;
          left: 93px;
          border-radius: 50%;
          width: 118px;
          height: 109px;
          object-fit: cover;
        }
        .blank-line {
          margin: 0;
        }
        .phasellus-viverra-nulla-container {
          position: absolute;
          top: 735px;
          left: 69px;
          font-size: 13px;
          font-weight: 500;
          display: inline-block;
          width: 226px;
          height: 139px;
        }
        .djarot {
          position: absolute;
          top: 721px;
          left: 115px;
          font-weight: 500;
          display: inline-block;
          width: 86px;
          height: 27px;
        }
        .tranding-shop {
          position: absolute;
          top: 604px;
          left: 380px;
          font-family: Inter;
        }
        .single {
          position: absolute;
          top: 171px;
          left: 601px;
          font-size: 64px;
          font-weight: 500;
        }
        .produk {
          position: absolute;
          top: 267px;
          left: 531px;
          font-size: 96px;
          font-weight: 500;
        }
        .line-icon {
          position: absolute;
          top: 651px;
          left: 337px;
          width: 233px;
          height: 1px;
          object-fit: contain;
        }
        .single-produk-child5 {
          position: absolute;
          top: 650px;
          left: 622px;
          width: 174px;
          height: 1px;
          object-fit: contain;
        }
        .frame-div {
          position: absolute;
          top: 21px;
          left: -107px;
          width: 107px;
          height: 150px;
          overflow: hidden;
        }
        .image-24-icon, 
        .image-23-icon {
          border-radius: 20px;
          width: 134px;
          height: 110px;
          object-fit: cover;
        }
        .image-24-icon {
          position: absolute;
          top: 667px;
          left: 610px;
        }
        .image-23-icon {
          position: absolute;
          top: 786px;
          left: 610px;
        }
        .latest-posts {
          position: absolute;
          top: 601px;
          left: 637px;
        }
        .abstract1 {
          color: inherit;
        }
        .gardening-in-small {
          text-decoration: underline;
        }
        .min {
          margin-bottom: 0;
        }
        .oct-3-2023-3-min {
          margin: 0;
          font-family: inherit;
          font-size: inherit;
          padding-left: 19px;
        }
        .abstract-gardening-in-container {
          position: absolute;
          top: 681px;
          left: 762px;
          font-size: 14px;
          display: inline-block;
          width: 312px;
          height: 210px;
        }
        .single-produk {
          width: 100%;
          position: relative;
          background-color: #fff;
          height: 1024px;
          overflow: hidden;
          text-align: left;
          font-size: 20px;
          color: #fff;
          font-family: Poppins;
        }

    body
      .single-produk
        .background
        .single-produk-child
          img.single-produk-item(alt="", src="Rectangle 24.png")
          img.single-produk-inner(alt="", src="Rectangle 25.png")
          img.rectangle-icon(alt="", src="Rectangle 26.png")
          img.single-produk-child1(alt="", src="Rectangle 27.png")
          img.single-produk-child2(alt="", src="Rectangle 28.png")
          img.single-produk-child3(alt="", src="Rectangle 29.png")
          img.single-produk-child4(alt="", src="Rectangle 30.png")
          img.image-icon(alt="", src="image.png")

        .phasellus-viverra-nulla-container
          p.blank-line &nbsp;
          p.blank-line Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nulla consequat massa quis enim.

        .djarot DJAROT
        .tranding-shop Tranding Shop
        .single Single
        .produk Produk

        img.line-icon(alt="", src="Line 11.svg")
        img.single-produk-child5(alt="", src="Line 12.svg")

        .frame-div
          img.image-24-icon(alt="", src="image 24.png")

        .latest-posts Latest Posts

        .abstract-gardening-in-container
          p.blank-line
            a.abstract1(href="https://elisen-theme.jkdevstudio.com/category/abstract/", target="_blank")
              span.gardening-in-small Abstract
          p.blank-line
            a.abstract1(href="https://elisen-theme.jkdevstudio.com/gardening-in-small-spaces-creative-ideas/", target="_blank")
              span.gardening-in-small Gardening in Small Spaces: Creative Ideas
          
          ul.oct-3-2023-3-min
            li.min Oct 3, 2023
            li.min 3 Min
          
          p.blank-line
            a.abstract1(href="https://elisen-theme.jkdevstudio.com/category/travel/", target="_blank")
              span.gardening-in-small Travel
          p.blank-line
            a.abstract1(href="https://elisen-theme.jkdevstudio.com/maximizing-productivity-5-simple-strategies/", target="_blank")
              span.gardening-in-small Maximizing Productivity: 5 Simple Strategies
          
          ul.oct-3-2023-3-min
            li.min Sep 3, 2023
            li.min 3 Min
          
          p.blank-line
            a.abstract1(href="https://elisen-theme.jkdevstudio.com/category/development/", target="_blank")
              span.gardening-in-small Development
          p.blank-line
            a.abstract1(href="https://elisen-theme.jkdevstudio.com/vegan-cooking-easy-and-delicious-recipes/", target="_blank")
              span.gardening-in-small Vegan Cooking: Easy and Delicious Recipes
