doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, width=device-width')
    link(rel='stylesheet', href='./fonts/Poppins.css') // Ensure the CSS files are in the specified relative path
    link(rel='stylesheet', href='./fonts/Inter.css') // Ensure the CSS files are in the specified relative path
    
    style.
      /* Global CSS */
      body {
        margin: 0;
        line-height: 1.5; /* More explicit line height */
        font-size: 16px; /* Base font size */
        font-family: 'Poppins', sans-serif; /* Default font family */
        color: #333; /* Text color */
        background-color: #f4f4f4; /* Background color */
      }

      /* Component-specific CSS */
      .single-produk {
        width: 100%;
        position: relative;
        background-color: #fff;
        height: 1024px;
        overflow: hidden;
        text-align: left;
        font-size: 20px;
        color: #fff;
        font-family: Poppins;
      }
      .background {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #1d3e53 20%, #418ab9 85%);
        width: 1440px;
        height: 1024px;
        overflow: hidden;
      }
      .single-produk-item, .single-produk-inner, .rectangle-icon,
      .single-produk-child1, .single-produk-child2, .single-produk-child3, 
      .single-produk-child4 {
        position: absolute;
        top: 437px;
        width: 211px;
        height: 135px;
        object-fit: cover;
      }
      .single-produk-item { left: 0; }
      .single-produk-inner { left: 211px; }
      .rectangle-icon { left: 426px; }
      .single-produk-child1 { left: 631px; }
      .single-produk-child2 { left: 842px; }
      .single-produk-child3 { left: 1051px; }
      .single-produk-child4 { left: 1262px; }
      .image-icon {
        position: absolute;
        top: 585px;
        left: 93px;
        border-radius: 50%;
        width: 118px;
        height: 109px;
        object-fit: cover;
      }
      .phasellus-viverra-nulla-container {
        position: absolute;
        top: 735px;
        left: 69px;
        font-size: 13px;
        font-weight: 500;
        display: inline-block;
        width: 226px;
        height: 139px;
      }
      .djarot, .tranding-shop, .single, .produk, .latest-posts {
        position: absolute;
        font-weight: 500;
      }
      .djarot { top: 721px; left: 115px; }
      .tranding-shop { top: 604px; left: 380px; font-family: Inter; }
      .single { top: 171px; left: 601px; font-size: 64px; }
      .produk { top: 267px; left: 531px; font-size: 96px; }
      .line-icon {
        position: absolute;
        top: 651px;
        left: 337px;
        width: 233px;
        height: 1px;
        object-fit: contain;
      }
      .single-produk-child5 {
        position: absolute;
        top: 650px;
        left: 622px;
        width: 174px;
        height: 1px;
        object-fit: contain;
      }
      .abstract-gardening-in-container {
        position: absolute;
        top: 681px;
        left: 762px;
        font-size: 14px;
        display: inline-block;
        width: 312px;
        height: 210px;
      }
      .image-24-icon, .image-23-icon {
        position: absolute;
        border-radius: 20px;
        object-fit: cover;
      }
      .image-24-icon { top: 667px; left: 610px; width: 134px; height: 110px; }
      .image-23-icon { top: 786px; left: 610px; width: 134px; height: 110px; }
      .abstract1 {
        color: inherit;
      }
      .gardening-in-small {
        text-decoration: underline;
      }
      .min {
        margin-bottom: 0px;
      }
      .oct-3-2023-3-min {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        padding-left: 19px;
      }

  body
    .single-produk
      .background
      .single-produk-child
      img.single-produk-item(src='./images/Rectangle 24.png', alt='', style='object-fit: cover;')
      img.single-produk-inner(src='./images/Rectangle 25.png', alt='', style='object-fit: cover;')
      img.rectangle-icon(src='./images/Rectangle 26.png', alt='', style='object-fit: cover;')
      img.single-produk-child1(src='./images/Rectangle 27.png', alt='', style='object-fit: cover;')
      img.single-produk-child2(src='./images/Rectangle 28.png', alt='', style='object-fit: cover;')
      img.single-produk-child3(src='./images/Rectangle 29.png', alt='', style='object-fit: cover;')
      img.single-produk-child4(src='./images/Rectangle 30.png', alt='', style='object-fit: cover;')
      img.image-icon(src='./images/image.png', alt='', style='border-radius: 50%; object-fit: cover;')
      
      .phasellus-viverra-nulla-container
        p.blank-line &nbsp;
        p.blank-line Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nulla consequat massa quis enim.
      
      div.djarot DJAROT
      div.tranding-shop Tranding Shop
      div.single Single
      div.produk Produk
      img.line-icon(src='./images/Line 11.svg', alt='', style='object-fit: contain;')
      img.single-produk-child5(src='./images/Line 12.svg', alt='', style='object-fit: contain;')
      
      .frame-div
      img.image-24-icon(src='./images/image 24.png', alt='', style='border-radius: 20px; object-fit: cover;')
      div.latest-posts Latest Posts
      
      .abstract-gardening-in-container
        p.blank-line
          a.abstract1(href='https://elisen-theme.jkdevstudio.com/category/abstract/', target='_blank')
            span.gardening-in-small Abstract
        p.blank-line
          a.abstract1(href='https://elisen-theme.jkdevstudio.com/gardening-in-small-spaces-creative-ideas/', target='_blank')
            span.gardening-in-small Gardening in Small Spaces: Creative Ideas
        ul.oct-3-2023-3-min
          li.min Oct 3, 2023
          li.min 3 Min
        p.blank-line
          a.abstract1(href='https://elisen-theme.jkdevstudio.com/category/travel/', target='_blank')
            span.gardening-in-small Travel
        p.blank-line
          a.abstract1(href='https://elisen-theme.jkdevstudio.com/maximizing-productivity-5-simple-strategies/', target='_blank')
            span.gardening-in-small Maximizing Productivity: 5 Simple Strategies
        ul.oct-3-2023-3-min
          li.min Sep 3, 2023
          li.min 3 Min
        p.blank-line
          a.abstract1(href='https://elisen-theme.jkdevstudio.com/category/development/', target='_blank')
            span.gardening-in-small Development
        p.blank-line
          a.abstract1(href='https://elisen-theme.jkdevstudio.com/vegan-cooking-easy-and-delicious-recipes/', target='_blank')
            span.gardening-in-small Vegan Cooking: Easy and Delicious Recipes

      img.image-23-icon(src='./images/image 23.png', alt='', style='border-radius: 20px; object-fit: cover;')
