body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: auto; /* Biarkan tinggi otomatis */
}

.content-wrapper {
    min-height: 300vh; /* Minimal tinggi 200vh */
    height: auto; /* Atur tinggi otomatis untuk konten */
    background: linear-gradient(to bottom, #0e3b57, #2b7bbf); /* Latar belakang gradien */
    padding: 20px;
}