mixin author
  style.
    .frame-child {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 20px;
        width: 100%;
        height: 646px;
    }
    .d {
        color: inherit;
    }
    .djarot {
        position: absolute;
        top: 125px;
        left: 96px;
        display: inline-block;
        width: 212px;
        height: 38px;
    }
    .bitwitter {
        position: absolute;
        top: 116px;
        left: 404px;
        width: 40px;
        height: 38px;
        overflow: hidden;
    }
    .group-icon {
        position: absolute;
        height: 0.19%;
        width: 0.17%;
        top: 23.56%;
        right: 51.92%;
        bottom: 76.25%;
        left: 47.91%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
    }
    .phasellus-viverra-nulla {
        margin: 0;
    }
    .travel2 {
        color: inherit;
        white-space: pre-wrap;
    }
    .travel1 {
        margin-bottom: 0px;
    }
    .travel {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        padding-left: 32px;
    }
    .node {
        white-space: pre-wrap;
    }
    .vegan-cooking-easy {
        text-decoration: underline;
    }
    .phasellus-viverra-nulla-container {
        position: absolute;
        top: 189px;
        left: 78px;
        display: inline-block;
        width: 783px;
        height: 349px;
    }
    .load-more {
        position: relative;
    }
    .readmore {
        position: absolute;
        top: 568px;
        left: 78px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #d94949;
        box-sizing: border-box;
        width: 165px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .facebook-icon {
        position: absolute;
        top: 120px;
        left: 291px;
        width: 33.3px;
        height: 31.6px;
    }
    .linkedin-icon {
        position: absolute;
        top: 123px;
        left: 337px;
        width: 27.7px;
        height: 30.1px;
    }
    .twitter-icon {
        position: absolute;
        top: 122px;
        left: 377px;
        width: 40px;
        height: 30.9px;
    }
    .youtube-icon {
        position: absolute;
        top: 124px;
        left: 424px;
        width: 41px;
        height: 27.8px;
    }
    .vector-parent {
        width: 999px;
        position: relative;
        height: 974px;
        text-align: left;
        font-size: 24px;
        color: #fff;
        font-family: Poppins;
        top: 200px;
        left: 52px;
    }

  div.vector-parent
    img.frame-child(alt="", src="web-thecartel/image/Rectangle 11.png")
    
    .djarot
        a.d(href="https://elisen-theme.jkdevstudio.com/author/admin/", target="_blank")
        span.vegan-cooking-easy D
        | jarot
        
    .bitwitter
    
    img.group-icon(alt="", src="Group.svg")
    
    .phasellus-viverra-nulla-container
        p.phasellus-viverra-nulla Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nulla consequat massa quis enim.
        p.phasellus-viverra-nulla Recent Posts:
        
        ul.travel
        li.travel1
            a.travel2(href="https://elisen-theme.jkdevstudio.com/category/travel/", target="_blank")
            span.vegan-cooking-easy Travel
        
        p.phasellus-viverra-nulla
        a.travel2(href="https://elisen-theme.jkdevstudio.com/maximizing-productivity-5-simple-strategies/", target="_blank")
            span.vegan-cooking-easy Maximizing Productivity: 5 Simple Strategies
        
        ul.travel
        li.travel1
            a.travel2(href="https://elisen-theme.jkdevstudio.com/category/development/", target="_blank")
            span.vegan-cooking-easy Development
        
        p.phasellus-viverra-nulla
        a.travel2(href="https://elisen-theme.jkdevstudio.com/vegan-cooking-easy-and-delicious-recipes/", target="_blank")
            span.vegan-cooking-easy Vegan Cooking: Easy and Delicious Recipes
        
        ul.travel
        li.travel1
            a.travel2(href="https://elisen-theme.jkdevstudio.com/category/gadgets/", target="_blank")
            span.vegan-cooking-easy Gadgets
        
        p.phasellus-viverra-nulla
        a.travel2(href="https://elisen-theme.jkdevstudio.com/yoga-practices-for-mind-and-body/", target="_blank")
            span.vegan-cooking-easy Yoga Practices for Mind and Body

    .readmore
        .load-more Load more

    img.facebook-icon(alt="", src="web-thecartel/image/FACEBOOK (1).png")
    img.linkedin-icon(alt="", src="web-thecartel/image/LINKEDIN (1).png")
    img.twitter-icon(alt="", src="web-thecartel/image/TWITTER.png")
    img.youtube-icon(alt="", src="web-thecartel/image/YOUTUBE (1).png")
