mixin blog-3
  link(rel="stylesheet", href="blog-1.css") 

  .row
    .col-6
      img.imgblog-3(src="web-thecartel/image/man raising cup.png" alt="")
    .col-3
      h1.h1a Most Popular Ecommerce Platforms (2023 Stats)
      li.lia by The Cartel
      li.lia 1st April 2024
      p.pbalap Ecommerce is a booming industry, with global sales expected
      p.pbalap sales expected to reach $8.1 Billion by 2026 and 
      p.pbalap this growth is being driven by the platforms 
      p.pbalap behind…
    .col-3
      .ecommerce-wrapper
        .guide-title Help Guides
        .guide-post
          .guide-content
            h3 • How To Choose the Best Ecommerce Platform for Your Business
        .guide-post
          .guide-content
            h3 • How to Start an Ecommerce Business – The Complete Beginner’s Guide
        .guide-post
          .guide-content
            h3 • A Beginner’s Guide to Ecommerce SEO
