mixin blog-1 
  link(rel="stylesheet", href="homepage.css") 

  .container-homepage
    .column.left
        p.the THE
        p.cartel CARTEL
        p.unlimited-shopping-find "Unlimited Shopping, Find It All!"
        .container-homepage-content
          .column-content.left
            img.image-57-icon(src="web-thecartel/image/image 57.png" alt="")
          .column-content.right
            div.absolute-content
              a.fashion-on-a-budget-trendy-ti1(href="https://elisen-theme.jkdevstudio.com/emerging-technology-trends-to-watch/" target="_blank")
                span.fashion-on-a Emerging Technology Trends to Watch
              p.fashion-on-a-budget-trendy-ti Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              p.fashion-on-a-budget-trendy-ti ligula eget dolor. Aenean massa. Cum sociis natoque...
        div.absolute-content-2
          a.fashion-on-a-budget-trendy-ti1(href="https://elisen-theme.jkdevstudio.com/emerging-technology-trends-to-watch/" target="_blank")
            span.fashion-on-a Fashion on a Budget: Trendy Tips
          p.fashion-on-a-budget-trendy-ti Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Suspendisse feugiat. Suspendisse
          p.fashion-on-a-budget-trendy-ti enim turpis, dictum sed, iaculis...
    .column.right
      img.frame-bagus(src="web-thecartel/image/blue-light-portrait-background.png" alt="")
      .content-img-right
        img.image-57-icon(src="web-thecartel/image/image 57.png" alt="")