mixin blog-2 
  link(rel="stylesheet", href="blog-1.css") 

  .row
    .col-6
      h1.h1b The 7 Best Shopify Invoice (Tried & Tested)
      li.li by Ihsan Bachtiar
      li.li 31st May 2024
      p.p One of the features that Shopify doesn’t offer
      p.p as standard is the ability to create, send and 
      p.p print invoices and if you want to do
    .col-3
      h1.h1b The Best Ecommerce (inc Pros and Cons)
      li.li by Ihsan Bachtiar
      li.li 31st May 2024
      p.p When you are starting an Ecommerce
      p.p Business, one of the most daunting task
    .col-
      .social-buttons-wrapper
        p.follow-us-text Follow Us
        .social-buttons
          button(class="button instagram")
            i(class="fab fa-instagram")
            |  Instagram
          button(class="button twitter")
            i(class="fab fa-twitter")
            |  Twitter
          button(class="button youtube")
            i(class="fab fa-youtube")
            |  YouTube

