mixin blog-4
  link(rel="stylesheet", href="blog-4.css") 

  .row-blog-4
    .col-7
      h1.h1r Most Popular Ecommerce Platforms (2023 Stats)
      li.lir by The Cartel
      li.lir 1st April 2024
      p.balap Ecommerce is a booming industry, with global sales expected
      p.balap sales expected to reach $8.1 Billion by 2026 and 
      p.balap this growth is being driven by the platforms 
      p.balap behind…
    .col-4
      img.imgblog-4(src="web-thecartel/image/text fast delivery lettering and delivery robot.png" alt="")