mixin blog-1 
  link(rel="stylesheet", href="blog-1.css") 

  .row
    .col-6
      h1.h1 How to Start A Multivendor Marketplace (The Complete Guide)
      li.li by Ihsan Bachtiar
      li.li 1st April 2024
      p.p So you’re thinking about starting 
      p.p multivendor marketplace but not sure where 
      p.p to start? 
      p.p That’s completely understandable as it is a bit more complex than…
    .col-3
      img.imgblog(src="web-thecartel/image/Payment processed.png" alt="")
    .col-3
      .trending-wrapper
        .title Trending Posts
        .post
          img(src="https://storage.googleapis.com/a1aa/image/0msMZdH65ur1FV28prw8Gi1irN8nB43OjTRHAr3qpkpyIk6E.jpg", alt="Exclusive Products")
          .post-content
            h3.title-content Discover Exclusive Products
            p Explore limited-edition items available only at The Cartel.
            li.author BY The Cartel Team
        .post
          img(src="https://storage.googleapis.com/a1aa/image/YLDKe6l0Ek2JeE5fEMBE0XADkGdy3dwFtvi0tgk66bZTGhUnA.jpg", alt="Partner Collaborations")
          .post-content
            h3.title-content Featured Partner Collaborations
            p Experience top-quality products from our trusted partners.
            li.author BY The Cartel Team
        .post
          img(src="https://storage.googleapis.com/a1aa/image/W64MlHyi7tI0JF8wppi2Six25A1f6J9ATfm9uv8FEVQHjQqTA.jpg", alt="Customer Highlights")
          .post-content
            h3.title-content Customer Favorites
            p See what our customers are raving about this week.
            li.author BY The Cartel Team