mixin blog-5 
  link(rel="stylesheet", href="blog-4.css") 

  .row-blog-4
    .col-4
      img.imgblog-4(src="web-thecartel/image/isometric view of young woman in vr headset.png" alt="")
    .col-7
      h1.h1r How to Choose the Best Ecommerce Platform for Your Business
      li.lir by The Cartel
      li.lir 1st April 2024
      p.balap One of the biggest and often most stressful decisions when starting
      p.balap an ecommerce business is choosing which platform to build your 
      p.balap this growth is being driven by the platforms 
      p.balap ecommerce website on and…
      