mixin creatakun
  style.
    .akun {
      position: absolute;
      top: 321px;
      left: 452px;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
    .image-akun {
      width: 448px;
      position: relative;
      border-radius: 25px;
      overflow: hidden;
      height: 511px;
      object-fit: cover;
      right: 0px;
      top: 40px;
    }
    .contac-us-child {
      position: relative;
      top: 108px;
      left: 547px;
      border-radius: 10px;
      background-color: #fff;
      width: 270px;
      height: 38px;
    }
    .first-name {
      position: relative;
      top: 39px;
      left: 548px;
      display: inline-block;
      width: 171px;
      height: 38px;

    }
    .contac-us {
      position: absolute;
      top: 110px;
      left: 63px;
      width: 354px;
      height: 75px;
    }
    .contac-us1 {
      position: absolute;
      top: 210px;
      left: 63px;
      width: 354px;
      height: 75px;
    }
    .contac-us2 {
      position: absolute;
      top: 310px;
      left: 63px;
      width: 354px;
      height: 75px;
    }
    .contac-us3 {
      position: absolute;
      top: 410px;
      left: 63px;
      width: 354px;
      height: 75px;
    }
    .register1 {
      position: relative;
      bottom: 10px;
    }
    .register-wrapper {
      position: absolute;
      top: 8px;
      left: calc(50% - 43px);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding: 10px;
    }
    .register {
      position: absolute;
      top: 563px;
      left: 626px;
      border-radius: 20px;
      background-color: #344ffb;
      width: 244px;
      height: 38px;
      overflow: hidden;
      font-size: 16px;
    }
    .create-account {
      position: relative;
      top: 138px;
      left: 530px;
      font-size: 25px;
      display: inline-block;
      width: 312px;
      height: 56px;
    }
    .contanerakun {
      width: 100%;
      position: relative;
      height: 607px; // Tinggi lebih kecil
      text-align: left;
      font-size: 20px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      top: 12px;
      left: 146px;
    }

  .contanerakun
    .akun
    .contac-us
      .contac-us-child
      .first-name First name
    .contac-us1
      .contac-us-child
      .first-name Last name
    .contac-us2
      .contac-us-child
      .first-name Email Address
    .contac-us3
      .contac-us-child
      .first-name Password
    .register
      .register-wrapper
        .register1 Register
    b.create-account Create Account
    .image-akun
     img.image-akun(alt="" src="web-thecartel/image/image (16).png")