doctype html
html(lang="id")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TRACK Page
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: hsl(0, 0%, 0%);
      }
      .TRACK-button {
        background-color: #3f3a3a;
        color: rgb(255, 255, 255);
        border: none;
        padding: 36px 394px;
        text-align: center;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
      }
      .TRACK-button:hover {
        background-color: #00ffaa;
        color: rgb(0, 0, 0);
      }

 
  mixin trackButton(className, label, onClickFunction)
    button(class=className, onclick=onClickFunction) 
      | #{label}

  body
    .TRACK-container
      +trackButton('TRACK-button', 'TRACK', 'TRACK()')

    script.
      function TRACK() {
        alert('TRACK button clicked');
      }
