mixin cart()
  style.
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

    .cart-child {
      position: absolute;
      height: 73.6%;
      width: 100%;
      top: 13.16%;
      right: -13.53%;
      bottom: 13.24%;
      left: 0%;
      max-width: 100%;
      overflow: hidden;
      max-height: 100%;
    }

    .cart1 {
      position: absolute;
      height: 100.8%;
      width: 63.07%;
      top: 0%;
      left: 40.67%;
      display: inline-block;
    }

    .cart {
      width: 136px;
      position: relative;
      border-radius: 20px;
      border: 1px solid #fff;
      box-sizing: border-box;
      height: 50px;
      overflow: hidden;
      text-align: left;
      font-size: 32px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      left: 892px;
      bottom: 56px;
    }

  .cart
    img.cart-child(alt="", src="web-thecartel/image/Frame 6.png")
    .cart1 cart
