mixin cart2()
  style.
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

    .whislist1 {
      position: absolute;
      height: 100.8%;
      width: 63.07%;
      top: 0%;
      left: 7.67%;
      display: inline-block;
    }

    .whislist {
      width: 136px;
      position: relative;
      border-radius: 20px;
      border: 1px solid #fff;
      box-sizing: border-box;
      height: 50px;
      overflow: hidden;
      text-align: left;
      font-size: 32px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      left: 1036px;
      bottom: 107px;
    }

  .whislist
    .whislist1 whislist
