mixin category
  style.
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

      body {
        font-family: 'Poppins', sans-serif;
      }

      .category {
        position: absolute;
        top: 0px;
        left: calc(50% - 152px);
        font-size: 64px;
        line-height: 115px;
        font-weight: 600;
        background: linear-gradient(180deg, #2681f7 30.4%, #164c91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
      }
      .frame-child {
        position: absolute;
        top: 161px;
        left: 0px;
        width: 1438px;
        height: 477px;
      }
      .image-icon {
        width: 200px;
        position: relative;
        border-radius: 170px;
        height: 200px;
        object-fit: cover;
        cursor: pointer;
      }
      .shoes {
        width: 159px;
        position: relative;
        line-height: 115px;
        font-weight: 600;
        display: inline-block;
        height: 72px;
        flex-shrink: 0;
      }
      .image-parent {
        position: absolute;
        top: 188px;
        left: 1030px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background-color: rgba(60, 60, 67, 0.29);
        width: 259px;
        height: 381px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 45px 30px;
        box-sizing: border-box;
        gap: 30px;
      }
      .women {
        width: 171px;
        position: relative;
        line-height: 115px;
        font-weight: 600;
        display: inline-block;
        height: 72px;
        flex-shrink: 0;
      }
      .image-group {
        position: absolute;
        top: 188px;
        left: 725px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background-color: rgba(60, 60, 67, 0.29);
        width: 259px;
        height: 381px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 45px 30px;
        box-sizing: border-box;
        gap: 30px;
      }
      .image-icon2 {
        width: 199px;
        position: relative;
        border-radius: 170px;
        height: 198px;
        object-fit: cover;
        cursor: pointer;
      }
      .image-container {
        position: absolute;
        top: 188px;
        left: 438px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background-color: rgba(60, 60, 67, 0.29);
        width: 259px;
        height: 381px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 45px 30px;
        box-sizing: border-box;
        gap: 30px;
      }
      .hat1 {
        margin: 0;
      }
      .frame-div {
        position: absolute;
        top: 188px;
        left: 151px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background-color: rgba(60, 60, 67, 0.29);
        width: 259px;
        height: 381px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 45px 30px;
        box-sizing: border-box;
        gap: 30px;
      }
      .category-parent {
        width: 100%;
        position: relative;
        height: 638px;
        text-align: center;
        font-size: 40px;
        color: #fff;
      }

  body
    .category-parent
      .category Category
      img.frame-child(alt='', src='Rectangle 77.svg')

      .image-parent
        img.image-icon(alt='', src='web-thecartel/image/image (10).png', id='image')
        .shoes Shoes

      .image-group
        img.image-icon(alt='', src='web-thecartel/image/image (9).png', id='image')
        .women Women

      .image-container
        img.image-icon2(alt='', src='web-thecartel/image/image (8).png', id='image')
        .shoes Men

      .frame-div
        img.image-icon(alt='', src='web-thecartel/image/image (7).png', id='image')
        .shoes
          p.hat1 Hat

    script.
      var image = document.getElementById("image");
      if(image) {
        image.addEventListener("click", function (e) {
          // Add your code here
        });
      }
