mixin category 
  link(rel="stylesheet", href="homepage-4.css")

  div.container-category
    .category Category
  .container-ctg
    .column.left
      .container-homepage-content
        .column-content.left
          div.frame-div
            .image-parent
              img.image-ctg(alt='', src='web-thecartel/image/image (13).png', id='image')
              div.container-title-category
                .title-category Hat
        .column-content.right
          .padding-right-content
            div.frame-div
              .image-group
                img.image-ctg(alt='', src='web-thecartel/image/image (2).png', id='image')
                div.container-title-category
                  .title-category Men
    .column.right
      .container-homepage-content
        .column-content.left
          div.frame-div
            .image-parent
              img.image-ctg(alt='', src='web-thecartel/image/women.png', id='image')
              div.container-title-category
                .title-category Women
        .column-content.right
          .padding-right-content
            div.frame-div
              .image-group
                img.image-ctg(alt='', src='web-thecartel/image/image (10).png', id='image')
                div.container-title-category
                  .title-category Shoes


      //- .image-group
      //-   img.image-ctg(alt='', src='web-thecartel/image/image (9).png', id='image')
      //-   .women Women

      //- .image-container
      //-   img.image-ctg2(alt='', src='web-thecartel/image/image (8).png', id='image')
      //-   .shoes Men

      //- .frame-div
      //-   img.image-ctg(alt='', src='web-thecartel/image/image (13).png', id='image')
      //-   .shoes Hat
      //-     p.hat1
