mixin contact
  .contact-us
    .contact-us1 Contact Us
    .ask-how-we-container
      p.ask-how-we Ask how we can help you:
      p.ask-how-we
        | See our platform in action
        | Request a personalized demo of TUNE’s partner marketing platform.
      p.ask-how-we
        | Master performance marketing
        | From The Cartel to industry research and insight, learn how to grow your business through performance-based partnerships.
      p.ask-how-we
        | Explore life at TUNE
        | Search open positions, read about company culture and values, and explore our charitable initiatives.
      p.ask-how-we Points of Contact
      p.ask-how-we
        | U.S. | The Cartel
        | 11350 McCormick Rd, EP III, Suite 200, Hunt Valley, MD 21031
      p.ask-how-we Billing Inquiries (855) 979-7887
      p.ask-how-we Rayyan Asysazili@Gmail.com
      p.ask-how-we
        | Information and Sales
        a.partnermarketingthecartelcom(href="mailto:partnermarketing@tune.com" target="_blank")
          span.partnermarketingthecartelcom1 partnermarketing@TheCartel.com
      p.ask-how-we
        | Support
        a.partnermarketingthecartelcom(href="mailto:support@tune.com" target="_blank")
          span.partnermarketingthecartelcom1 support@TheCartel.com
      p.ask-how-we Verification of Employment
      p.ask-how-we
        a.partnermarketingthecartelcom(href="mailto:voe@constellationhbs.com" target="_blank")
          span.partnermarketingthecartelcom1 voe@TheCartel.com

    .contac-us
      .contac-us-child
      .first-name First name

    .contac-us1
      .contac-us-child
      .first-name Last name

    .contac-us2
      .contac-us-child
      .first-name Account Name

    .contac-us3
      .contac-us-child
      .first-name Email

    .contac-us4
      .contac-us-child
      .first-name Comments

    .send-massage
      .send-massage-child
      .send-massage1 send massage

    img.contact-us-child(alt="" src="web-thecartel/image/Rectangle 82.png")
    .contact-us-item
    img.businessman-checking-his-task(alt="" src="web-thecartel/image/Businessman checking his task list.png")

  style.
    .contact-us1 {
      position: absolute;
      top: 124px;
      left: calc(50% - 272px);
      font-size: 96px;
      font-weight: 600;
      display: inline-block;
      width: 545px;
      height: 130px;
    }
    .ask-how-we {
      margin: 0;
    }
    .partnermarketingthecartelcom1 {
      text-decoration: underline;
    }
    .partnermarketingthecartelcom {
      color: inherit;
    }
    .ask-how-we-container {
      position: absolute;
      top: 354px;
      left: 0px;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      width: 594px;
      height: 471px;
    }
    .contac-us-child {
      position: absolute;
      top: 28px;
      right: 481px;
      border-radius: 10px;
      background-color: #fff;
      width: 354px;
      height: 47px;
    }
    .first-name {
      position: absolute;
      top: 0px;
      right: 654px;
      display: inline-block;
      width: 171px;
      height: 38px;
    }
    .contac-us {
      position: absolute;
      top: 299px;
      left: 1200px;
      width: 354px;
      height: 75px;
    }
    .contac-us1 {
      position: absolute;
      top: 390px;
      left: 1200px;
      width: 354px;
      height: 75px;
    }
    .contac-us2 {
      position: absolute;
      top: 481px;
      left: 1200px;
      width: 354px;
      height: 75px;
    }
    .contac-us3 {
      position: absolute;
      top: 572px;
      left: 1200px;
      width: 354px;
      height: 75px;
    }
    .contac-us4 {
      position: absolute;
      top: 663px;
      left: 1200px;
      width: 354px;
      height: 75px;
    }
    .send-massage-child {
      position: absolute;
      top: 0px;
      left: 350px;
      border-radius: 20px;
      background-color: #fff;
      width: 320px;
      height: 48px;
    }
    .send-massage1 {
      position: absolute;
      top: 9px;
      left: 430px;
      display: inline-block;
      width: 161px;
      height: 30px;
    }
    .send-massage {
      position: absolute;
      top: 761px;
      right: 584px;
      width: 320px;
      height: 48px;
      color: #254b62;
    }
    .contact-us-child {
      position: absolute;
      top: 621px;
      left: 399px;
      width: 349px;
      height: 219px;
      object-fit: cover;
    }
    .contact-us-item {
      position: absolute;
      top: 680px;
      left: 800px;
      width: 139px;
      height: 97px;
    }
    .businessman-checking-his-task {
      position: absolute;
      top: 523px;
      left: 399px;
      width: 332px;
      height: 324px;
      object-fit: cover;
    }
    .contact-us {
      width: 100%;
      position: relative;
      height: 1024px;
      overflow: hidden;
      text-align: left;
      font-size: 20px;
      color: #fff;
      font-family: Poppins;
    }
