mixin content()
  // Inline CSS
  style.
    body {
      font-family: 'Inter', sans-serif;
    }
    .material-symbolssearch-parent {
      width: 100%;
      position: relative;
      height: 161px;
      text-align: left;
      font-size: 48px;
      color: #fffdfd;
      font-family: Poppins;
      top: 151px;
      left: -89px;
    }
    .material-symbolssearch {
      position: absolute;
      top: 176px;
      left: 673px;
      width: 24px;
      height: 30px;
      overflow: hidden;
    }
    .search {
      position: absolute;
      top: 14px;
      left: 465px;
      font-size: 20px;
      color: #fff;
      display: inline-block;
      width: 159px;
      height: 36px;
    }
    .category {
      position: absolute;
      top: 67px;
      left: 544px;
      font-size: 64px;
      color: #fff;
      display: inline-block;
      width: 310px;
      height: 78px;
    }
    .frame-child {
      position: absolute;
      top: 0px;
      left: 442px;
      border-radius: 10px;
      width: 550px;
      height: 50px;
    }
    .cari-icon {
      position: absolute;
      top: 8px;
      left: 934px;
      border-radius: 10px;
      width: 42px;
      height: 33px;
    }
    .frame-item {
      position: absolute;
      top: 69px;
      left: 0px;
      width: 1440px;
      height: 3px;
    }
    .frame-inner {
      position: absolute;
      top: 391px;
      left: 0px;
      width: 1440px;
      height: 5px;
    }
    .instance-child {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      max-width: 100%;
      overflow: hidden;
      max-height: 100%;
      object-fit: cover;
    }
    .men {
      position: absolute;
      height: 36.97%;
      width: 62.36%;
      top: 26.67%;
      left: 19.1%;
      display: inline-block;
      color: white;
    }
    .vector-parent {
      position: absolute;
      top: 175px;
      left: 73px;
      width: 178px;
      height: 165px;
      text-decoration: none;
    }
    .women {
      position: absolute;
      height: 32.12%;
      width: 79.78%;
      top: 33.94%;
      left: 10.11%;
      display: inline-block;
      color: white;
    }
    .vector-group {
      position: absolute;
      top: 175px;
      left: 323px;
      width: 178px;
      height: 165px;
      font-size: 36px;
    }
    .hat {
      position: absolute;
      height: 33.33%;
      width: 45.51%;
      top: 33.33%;
      left: 27.53%;
      display: inline-block;
      color: white;
    }
    .vector-container {
      position: absolute;
      top: 175px;
      left: 573px;
      width: 178px;
      height: 165px;
      font-size: 36px;
    }
    .shoes {
      position: absolute;
      height: 39.39%;
      width: 81.46%;
      top: 30.3%;
      left: 9.55%;
      display: inline-block;
      color: white;
    }
    .ellipse-div {
      position: absolute;
      top: 175px;
      left: 823px;
      width: 178px;
      height: 165px;
    }
    .watch {
      position: absolute;
      height: 40%;
      width: 78.65%;
      top: 30.3%;
      left: 10.67%;
      display: inline-block;
      color: white;
    }
    .vector-parent1 {
      position: absolute;
      top: 175px;
      left: 1073px;
      width: 178px;
      height: 165px;
      font-size: 40px;
    }

  .material-symbolssearch-parent
    .material-symbolssearch
    .search Search....
    .category Category
    img.frame-child(src="web-thecartel/image/Rectangle 60.png" alt="")
    img.cari-icon(src="web-thecartel/image/cari.png" alt="")
    img.frame-item(src="web-thecartel/image/Line 21.png" alt="")
    img.frame-inner(src="web-thecartel/image/Line 21.png" alt="")
    
    a.vector-parent(href="./shopmen.html")
      img.instance-child(src="web-thecartel/image/Ellipse 7.png" alt="")
      .men Men

    a.vector-group(href="./shopwomen.html")
      img.instance-child(src="web-thecartel/image/Ellipse 7 (1).png" alt="")
      .women Women

    a.vector-container(href="./shophat.html")
      img.instance-child(src="web-thecartel/image/Ellipse 7 (2).png" alt="")
      .hat Hat

    a.ellipse-div(href="./shopshoes.html")
      img.instance-child(src="web-thecartel/image/Ellipse 7 (3).png" alt="")
      .shoes Shoes

    a.vector-parent1(href="./shopwacth.html")
      img.instance-child(src="web-thecartel/image/Ellipse 7 (4).png" alt="")
      .watch Watch