mixin hat
  style.
    .b {
      position: absolute;
      top: 206px;
      left: 71px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .b2 {
      position: absolute;
      top: 226px;
      left: 71px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .button1 {
      position: relative;
      line-height: 100%;
    }
    .button2 {
      position: relative;
      line-height: 100%;
    }
    .button {
      position: absolute;
      top: 272px;
      left: 71px;
      border-radius: 8px;
      background-color: #2c2c2c;
      border: 1px solid #2c2c2c;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px;
      font-size: 16px;
      color: #f5f5f5;
      font-family: Inter;
    }
    .button2 {
      position: absolute;
      top: 279px;
      left: 71px;
      border-radius: 8px;
      background-color: #2c2c2c;
      border: 1px solid #2c2c2c;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px;
      font-size: 16px;
      color: #f5f5f5;
      font-family: Inter;
    }
    .image-icon {
      position: relative;
      top: 0px;
      left: 0px;
      width: 201px;
      height: 209px;
      object-fit: cover;
    }
    .image-icondua {
      position: relative;
      top: 14px;
      left: 0px;
      width: 196px;
      height: 191px;
      object-fit: cover;
      border-radius:22px
    }
    .contaner {
      width: 100%;
      position: relative;
      height: 319px;
      text-align: left;
      font-size: 32px;
      color: #fff;
      font-family: Poppins;
    }
    .contaner b.b {
      position: relative;
      top: 189px;
      left: 148px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .contaner b.b2 {
      position: relative;
      top: 189px;
      left: 148px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .contaner .button {
        position: absolute;
        top: 407px;
        left: 147px;
        border-radius: 8px;
        background-color: #2c2c2c;
        border: 1px solid #2c2c2c;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-size: 16px;
        color: #f5f5f5;
        font-family: Inter;
    }
    .contaner .button2 {
        position: absolute;
        top: 407px;
        left: 147px;
        border-radius: 8px;
        background-color: #2c2c2c;
        border: 1px solid #2c2c2c;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-size: 16px;
        color: #f5f5f5;
        font-family: Inter;
    }
    .contaner img.image-icon {
        position: relative;
        top: 148px;
        left: 0px;
        width: 196px;
        height: 191px;
        object-fit: cover;
        border-radius: 13px;
    }
    .contaner img.image-icondua {
        position: relative;
        top: 148px;
        left: 0px;
        width: 196px;
        height: 191px;
        object-fit: cover;
        border-radius: 13px;
    }
    .contaner {
        width: 294px;
        position: relative;
        height: 449px;
        text-align: left;
        font-size: 32px;
        color: #fff;
        font-family: Poppins;
        right: 79px;
        top: 65px;
    }
    .contanerdua {
        width: 294px;
        position: relative;
        height: 83px;
        text-align: left;
        font-size: 32px;
        color: #fff;
        font-family: Poppins;
        left: 301px;
        bottom: 250px;
    }
    .contanertiga {
        width: 294px;
        position: relative;
        height: 83px;
        text-align: left;
        font-size: 32px;
        color: #fff;
        font-family: Poppins;
        left: 608px;
        bottom: 328px;
    }
    .contanerempat {
        width: 294px;
        position: relative;
        height: 193px;
        text-align: left;
        font-size: 32px;
        color: #fff;
        font-family: Poppins;
        left: 940px;
        bottom: 412px;
    }
    .contanerlima {
        width: 294px;
        position: relative;
        height: 50px;
        text-align: left;
        font-size: 32px;
        color: #fff;
        font-family: Poppins;
        left: 779px;
        bottom: 375px;
    }
    .contanerenam {
        width: 294px;
        position: relative;
        height: 0px;
        text-align: left;
        font-size: 32px;
        color: #fff;
        font-family: Poppins;
        left: 461px;
        bottom: 424px;
    }
    .contanertujuh {
        width: 294px;
        position: relative;
        height: 0px;
        text-align: left;
        font-size: 32px;
        color: #fff;
        font-family: Poppins;
        left: 158px;
        bottom: 428px
    }
  
  .contaner
    b.b $54
    .button
      b.button1 ADD+
    img.image-icon(alt='', src='web-thecartel/image/image (17).png')
  .contanerdua
    b.b $54
    .button
      b.button1 ADD+
    img.image-icondua(alt='', src='web-thecartel/image/image (18).png')
  .contanertiga
    b.b $54
    .button
      b.button1 ADD+
    img.image-icondua(alt='', src='web-thecartel/image/image (19).png')
  .contanerempat
    b.b $54
    .button
      b.button1 ADD+
    img.image-icondua(alt='', src='web-thecartel/image/image (20).png')
  .contanerlima
    b.b $54
    .button
      b.button1 ADD+
    img.image-icondua(alt='', src='web-thecartel/image/image (23).png')
  .contanerenam
    b.b $54
    .button
      b.button1 ADD+
    img.image-icondua(alt='', src='web-thecartel/image/image (22).png')
  .contanertujuh
    b.b $54
    .button
      b.button1 ADD+
    img.image-icondua(alt='', src='web-thecartel/image/image (21).png')