mixin help2
  style.
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

    .category {
        position: absolute;
        top: 0px;
        left: calc(50% - 96px);
        font-size: 48px;
        display: inline-block;
        width: 232px;
        height: 71px;
    }
    .shoes {
        position: absolute;
        top: 93px;
        left: 806px;
        display: inline-block;
        width: 124px;
        height: 49px;
    }
    .women {
        position: absolute;
        top: 98px;
        left: 376px;
        display: inline-block;
        width: 176px;
        height: 60px;
    }
    .men {
        position: absolute;
        top: 98px;
        left: -7px;
        display: inline-block;
        width: 87px;
        height: 60px;
    }
    .frame-raya {
        position: absolute;
        top: 156.5px;
        left: -5.5px;
        border-top: 1px solid #fff;
        box-sizing: border-box;
        width: 66px;
        height: 1px;
    }
    .frame-item {
        position: absolute;
        top: 156.5px;
        left: 389.5px;
        border-top: 1px solid #fff;
        box-sizing: border-box;
        width: 125px;
        height: 1px;
    }
    .frame-ganteng {
        position: absolute;
        top: 156.5px;
        left: 808.5px;
        border-top: 1px solid #fff;
        box-sizing: border-box;
        width: 125px;
        height: 1px;
    }
    .men-icon {
        position: relative;
        right: 45px;
        width: 350px;
        height: 178px;
        top: 184px;
    }
    .women-icon {
        position: relative;
        top: 185px;
        left: 30px;
        width: 350px;
        height: 178px;
        object-fit: cover;
    }
    .plants-icon {
        position: relative;
        top: 185px;
        left: 106px;
        width: 350px;
        height: 178px;
        object-fit: cover;
    }
    .category-parent {
        width: 100%;
        position: relative;
        height: 515px;
        text-align: left;
        font-size: 40px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        top: 131px;
    }

  .category-parent
    .category Category
    .shoes Shoes
    .women Women
    .men Men
    .frame-raya
    .frame-item
    .frame-ganteng
    img.men-icon(alt="" src="web-thecartel/image/image kece3.png")
    img.women-icon(alt="" src="web-thecartel/image/image kece2.png")
    img.plants-icon(alt="" src="web-thecartel/image/image kece.png")
