mixin help
  style.
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

    .frame-child {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #254b62;
    width: 100%;
    height: 353px;
    }
    .anything-can-we {
    position: absolute;
    top: 102px;
    left: calc(50% - 233px);
    font-weight: 500;
    display: inline-block;
    width: 470px;
    height: 58px;
    }
    .frame-kita {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0e0e0e;
    width: 597px;
    height: 51px;
    }
    .search {
    position: absolute;
    top: -3px;
    left: 6px;
    font-weight: 500;
    display: inline-block;
    width: 292px;
    height: 58px;
    }
    .cari-icon {
    position: absolute;
    top: 9px;
    left: 548px;
    border-radius: 10px;
    width: 42px;
    height: 33px;
    }
    .rectangle-op {
    position: absolute;
    top: 203px;
    left: calc(50% - 297px);
    border-radius: 10px;
    background-color: #fff;
    width: 597px;
    height: 51px;
    overflow: hidden;
    }
    .frame-gila {
    position: relative;
    bottom: 354px;
    left: 0px;
    background: linear-gradient(90deg, #26586c, #4aacd2);
    width: 100%;
    height: 65px;
    }
    .rectangle-parent {
    width: 100%;
    position: relative;
    height: 353px;
    text-align: left;
    font-size: 40px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    top: 117px;
    }

  .rectangle-parent
    .frame-child
    .anything-can-we Anything, can we help?
    .rectangle-op
        .frame-kita
        .search Search..
        img.cari-icon(alt="" src="web-thecartel/image/cari.png")
    .frame-gila
