mixin home-5
  link(rel="stylesheet", href="homepage-5.css") 

  .container-homepage
    .column.left
      .container-homepage-content
        .column-content.left
            img.image-59-vv(alt="", src="web-thecartel/image/image 59 (1).png")
      .instance-bb
        div.return-to-shop RETURN TO SHOP
      .track-bb
        div.oo TRACK
    .column.right
      .container-homepage-content
        .column-content.left
          div.card
            img.img(src="web-thecartel/image/image 39 (1).png" alt="")
        .column-content.right
          p Photo
          p Parenting Strategies for the Modern Family
          p Jun 3, 2023
          p Finance
          p Healthy and Nutritious Smoothie Recipes
      .container-homepage-content
        .column-content.left
          div.card
            img.img(src="web-thecartel/image/image 39 (2).png" alt="")
        .column-content.right
          p Photo
          p Parenting Strategies for the Modern Family
          p Jun 3, 2023
          p Finance
          p Healthy and Nutritious Smoothie Recipes
      .coming
        div.coming-soon Coming soon