mixin home
  link(rel="stylesheet", href="homepage.css") 

  .container-homepage
    .column.left
        p.the THE
        p.cartel CARTEL
        p.unlimited-shopping-find "Unlimited Shopping, Find It All!"
        .container-homepage-content
          .column-content.left
            img.image-57-icon(src="web-thecartel/image/image 57.png" alt="")
          .column-content.right
            div.absolute-content
              a.fashion-on-a-budget-trendy-ti1(href="https://elisen-theme.jkdevstudio.com/emerging-technology-trends-to-watch/" target="_blank")
                span.fashion-on-a Emerging Technology Trends to Watch
              p.fashion-on-a-budget-trendy-ti Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              p.fashion-on-a-budget-trendy-ti ligula eget dolor. Aenean massa. Cum sociis natoque...
        .container-homepage-content
          .column-content.left
            div.absolute-content
              a.fashion-on-a-budget-trendy-ti1(href="https://elisen-theme.jkdevstudio.com/emerging-technology-trends-to-watch/" target="_blank")
                span.fashion-on-a Emerging Technology Trends to Watch
              p.fashion-on-a-budget-trendy-ti Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              p.fashion-on-a-budget-trendy-ti ligula eget dolor. Aenean massa. Cum sociis natoque...
          .column-content.right
            img.image-57-icon(src="web-thecartel/image/image 57.png" alt="")      
    .column.right
        img.frame-bagus(src="web-thecartel/image/blue-light-portrait-background.png" alt="")
  //- .frame-parent
  //-   .twitterx-parent
  //-     img.twitterx-icon(src="web-thecartel/image/TwitterX.png" alt="")
  //-     img.twitterx-icon(src="web-thecartel/image/TikTok.png" alt="")
  //-     img.twitterx-icon(src="web-thecartel/image/YouTube.png" alt="")
  //-     img.twitterx-icon(src="web-thecartel/image/LinkedIn.png" alt="")
  //-     img.twitterx-icon(src="web-thecartel/image/Instagram.png" alt="")
  //-     img.twitterx-icon(src="web-thecartel/image/Facebook.png" alt="")
  //-   b.the THE
  //-   b.cartel CARTEL
  //-   .frame-child
  //-   img.frame-bagus(src="web-thecartel/image/blue-light-portrait-background.png" alt="")
  //-   img.rectangle-icon(src="web-thecartel/image/Rectangle 65.png" alt="")
  //-   .fashion-on-a-container
  //-     p.fashion-on-a-budget-trendy-ti
  //-       a.fashion-on-a-budget-trendy-ti1(href="https://elisen-theme.jkdevstudio.com/fashion-on-a-budget-trendy-tips/" target="_blank")
  //-         span.fashion-on-a Fashion on a Budget: Trendy Tips
  //-     p.fashion-on-a-budget-trendy-ti Welcome to The Cartel, your one-stop destination for all your shopping needs! From top-quality products to reliable service, we’re here to make your shopping experience enjoyable and secure.
  //-   .emerging-technology-trends-container
  //-     p.fashion-on-a-budget-trendy-ti
  //-       a.fashion-on-a-budget-trendy-ti1(href="https://elisen-theme.jkdevstudio.com/emerging-technology-trends-to-watch/" target="_blank")
  //-         span.fashion-on-a Emerging Technology Trends to Watch
  //-     p.fashion-on-a-budget-trendy-ti Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque...
  //-   img.image-57-icon(src="web-thecartel/image/image 57.png" alt="")
  //-   .unlimited-shopping-find "Unlimited Shopping, Find It All!"
  //-   img.image-58-icon(src="web-thecartel/image/image 58.png" alt="")