mixin home-3
  link(rel="stylesheet", href="homepage-3.css")

.container-homepage
  .column.left
    .container-homepage-content
      h2 Trending Products
      .product-grid
        .product-card
          img.img(src="web-thecartel/image/image 39.png" alt="ALD / Drake's Integral Collar Sweater")
          p Product Name: ALD / Drake's Integral Collar Sweater
          p Price: $20.00
        .product-card
          img.img(src="web-thecartel/image/image 39 (1).png" alt="ALD / Drake's Ribbed Knit Beanie")
          p Product Name: ALD / Drake's Ribbed Knit Beanie
          p Price: $19.95
        .product-card
          img.img(src="web-thecartel/image/image 39 (2).png" alt="Marina Mockneck Sweater")
          p Product Name: Marina Mockneck Sweater
          p Price: $37.00
        .product-card
          img.img(src="web-thecartel/image/image 39 (3).png" alt="Unisphere Full-Zip Fleece Jacket")
          p Product Name: Unisphere Full-Zip Fleece Jacket
          p Price: $130.00

  .column.right
    .container-homepage-content
      h2 Profile
      p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
      button(type="button") SIGN UP

    .container-homepage-content
      hr
      h2 Whislist
      p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
      button(type="button") Wish List
