mixin home-2
  link(rel="stylesheet", href="homepage-2.css") 

  .container-homepage
    .column.left
      .container-homepage-content
        .column-content.left
          div.card
            img.img(src="web-thecartel/image/image 39.png" alt="")
        .column-content.right
          p Photo
          p Parenting Strategies for the Modern Family
          p Jun 3, 2023
          p Finance
          p Healthy and Nutritious Smoothie Recipes
      .container-homepage-content
        .column-content.left
          div.card
            img.img(src="web-thecartel/image/img-home.png" alt="")
        .column-content.right
          p Photo
          p Parenting Strategies for the Modern Family
          p Jun 3, 2023
          p Finance
          p Healthy and Nutritious Smoothie Recipes
    .column.right
      .container-homepage-content
        .column-content.left
          div.card
            img.img(src="web-thecartel/image/image 39 (1).png" alt="")
        .column-content.right
          p Photo
          p Parenting Strategies for the Modern Family
          p Jun 3, 2023
          p Finance
          p Healthy and Nutritious Smoothie Recipes
      .container-homepage-content
        .column-content.left
          div.card
            img.img(src="web-thecartel/image/image 39 (2).png" alt="")
        .column-content.right
          p Photo
          p Parenting Strategies for the Modern Family
          p Jun 3, 2023
          p Finance
          p Healthy and Nutritious Smoothie Recipes