mixin ler
  style.
    .frame-bb {
        position: absolute;
        top: 33px;
        left: 658px;
        border-radius: 20px;
        background: linear-gradient(180deg, #234a63, #4796c9 64%);
        width: 236px;
        height: 299px;
    }
    .frame-gg {
        position: absolute;
        top: 392px;
        left: 658px;
        border-radius: 20px;
        background: linear-gradient(180deg, #234a63, #4796c9 64%);
        width: 236px;
        height: 299px;
    }
    .blank-line1 {
        color: inherit;
    }
    .blank-pp {
        margin: 0;
    }
    .parenting-strategies-tt {
        text-decoration: underline;
    }
    .photo-parenting-strategies-hh {
        position: absolute;
        top: 69px;
        left: 929px;
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        width: 288px;
        height: 193px;
    }
    .emerging-technology-trends-hh {
        position: absolute;
        top: 481px;
        left: 928px;
        line-height: 100%;
        font-weight: 600;
        display: inline-block;
        width: 264px;
    }
    .track-bb {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0);
        width: 394px;
        height: 36px;
    }
    .oo {
        position: absolute;
        top: 4px;
        left: 162px;
        font-weight: 500;
        display: inline-block;
        width: 66px;
        height: 32px;
    }
    .uu {
        position: absolute;
        top: 834px;
        left: 84px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 421px;
        height: 40px;
        overflow: hidden;
    }
    .instance-bb {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.3);
        width: 586px;
        height: 47px;
    }
    .return-to-shop {
        position: absolute;
        top: 10px;
        left: 208px;
        font-weight: 500;
        display: inline-block;
        width: 170px;
        height: 26px;
    }
    .rectangle-ll {
        position: absolute;
        top: 755px;
        left: 0;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 586px;
        height: 47px;
        overflow: hidden;
    }
    .coming-soon {
        position: relative;
        font-weight: 500;
    }
    .coming {
        position: absolute;
        top: 756px;
        left: 687px;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 16px;
        color: #693131;
    }
    .image-59-vv {
        position: absolute;
        top: 0;
        left: 81px;
        width: 456px;
        height: 691px;
        object-fit: cover;
    }
    .image-vv {
        position: absolute;
        top: 73px;
        left: 678px;
        width: 201px;
        height: 209px;
        object-fit: cover;
    }
    .image-vv1 {
        position: absolute;
        top: 441px;
        left: 676px;
        width: 201px;
        height: 209px;
        object-fit: cover;
    }
    .rectangle-zz {
        width: 100%;
        position: relative;
        height: 874px;
        text-align: left;
        font-size: 20px;
        color: #fff;
        font-family: Poppins;
        left: 350px;
    }

  .rectangle-zz
    .frame-bb
    .frame-gg
    .photo-parenting-strategies-hh
      p.blank-pp
        span.parenting-strategies-tt Nike shoes are all about style
      p.blank-pp
        span.parenting-strategies-tt comfort, and performance
      p.blank-pp
        span.parenting-strategies-tt Built to last, they're perfect
      p.blank-pp Jun 3, 2023
      p.blank-pp
        span.parenting-strategies-tt Financefor both athletes
      p.blank-pp
        span.parenting-strategies-tt  and everyday wear
    .emerging-technology-trends-hh
      p.blank-pp
        span.parenting-strategies-ttCalvin Klein watches combine modern elegance with
      p.blank-pp
        span.parenting-strategies-tt 
      p.blank-pp  timeless design.
    .uu
      .track-bb
      div.oo TRACK
    .rectangle-ll
      .instance-bb
      div.return-to-shop RETURN TO SHOP
    .coming
      div.coming-soon Coming soon
    img.image-59-vv(alt="", src="/web-thecartel/image/image 59 (1).png")
    img.image-vv(alt="", src="/web-thecartel/image/image (14).png")
    img.image-vv1(alt="", src="/web-thecartel/image/image (15).png")