mixin home-4
  link(rel="stylesheet", href="homepage-3-new.css")

  .container-homepage
    .column.left
      h2.judul Trending Products
      .container-homepage-content
        .column-content.left
          img.img(src="web-thecartel/image/Rectangle 84 (1).png" alt="ALD / Drake's Integral Collar Sweater")
          div.title-product
            p Product Name: ALD / Drake's Integral Collar Sweater
            p Price: $20.00
        .column-content.right
          img.img(src="web-thecartel/image/image-home.png" alt="ALD / Drake's Ribbed Knit Beanie")
          div.title-product
            p Product Name: ALD / Drake's Ribbed Knit Beanie
            p Price: $19.95
      .container-homepage-content
        .column-content.left
          img.img(src="web-thecartel/image/image-mock.png" alt="Marina Mockneck Sweater")
          div.title-product
            p Product Name: Marina Mockneck Sweater
            p Price: $37.00
        .column-content.right
          img.img(src="web-thecartel/image/image-zip.png" alt="Unisphere Full-Zip Fleece Jacket")
          div.title-product
            p Product Name: Unisphere Full-Zip Fleece Jacket
            p Price: $130.00
    .column.right
      div.profile
        .container-homepage-content
          .column-content.left
            img.image-icon(alt="" src="web-thecartel/image/image-profile..jpg")
          .column-content.right
            h2.judul Profile
            p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
            div.btn-sign-up
              div.sign-up SIGN UP
        hr
      .container-homepage-content
        .column-content.left
          h2.judul Wish List
          p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
          div.sign-up WISH LIST
        .column-content.right
         img.image-wish(alt="" src="web-thecartel/image/Businessman checking his task list.png")
          
        