mixin about
  style.
    .about {
      width: 100%;
      position: relative;
      height: 1024px;
      overflow: hidden;
      text-align: left;
      font-size: 96px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      left: 0px;
    }
    .about1 {
      position: absolute;
      top: 99px;
      left: calc(50% - 157px);
      display: inline-block;
      width: 290px;
      height: 127px;
    }
    .professional-problem-solutions {
      margin: 0;
    }
    .innovation-trends {
      margin-bottom: 0px;
    }
    .innovation-trends-cybersecur {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      padding-left: 27px;
    }
    .professional-problem-solutions-container {
      position: relative;
      top: 621px;
      left: 196px;
      font-size: 20px;
      display: inline-block;
      width: 826px;
      height: 241px;
    }
    .image-icon {
      position: relative;
      top: 236px;
      left: 18px;
      border-radius: 20px;
      width: 259px;
      height: 225px;
    }
    .image-icon1 {
      position: relative;
      bottom: 27px;
      left: 12px;
      border-radius: 20px;
      width: 259px;
      height: 225px;
    }
    .desktop-11-child {
      position: relative;
      top: -427.5px;
      left: 0.5px;
      border-top: 5px solid #fff;
      box-sizing: border-box;
      width: 1286px;
      height: 5px;
    }
    .image-icon2 {
      position: relative;
      bottom: 389px;
      left: 306px;
      width: 506px;
      height: 260px;
    }

  .about
      .about1 About
      .professional-problem-solutions-container
        p.professional-problem-solutions Professional Problem Solutions For Digital Products
        p.professional-problem-solutions Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus et ultrices posuere cubilia Curae; In ac dui quis mi consect.
        ul.innovation-trends-cybersecur
          li.innovation-trends Innovation & Trends
          li.innovation-trends Cybersecurity Insights
          li.innovation-trends Mindfulness & Wellness
          li.innovation-trends Nutrition Tips
        p.professional-problem-solutions Designing a website involves various elements such as layout, graphics, content. We offer a variety of pricing packages to meet the unique needs of our services. Contact us today!
      
      img.image-icon(alt="" src="web-thecartel/image/about2.png")
      img.image-icon1(alt="" src="web-thecartel/image/about.png")
      
      .desktop-11-child
      img.image-icon2(alt="" src="web-thecartel/image/about1.png")