mixin order
  style.
    .track-order-parent {
        width: 49%;
        position: relative;
        height: 234px;
        text-align: left;
        font-size: 20px;
        color: #fff;
        left: 600px;
        font-family: Poppins;
        bottom: 484px;
    }
    .track-order {
        position: absolute;
        top: 0px;
        left: 143px;
        font-size: 40px;
        font-weight: 500;
        display: inline-block;
        width: 248px;
        height: 61px;
    }
    .to-track-your {
        margin: 0;
    }
    .to-track-your-container {
        position: absolute;
        top: 74px;
        left: 0px;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        width: 522px;
        height: 109px
    }
    .order-id {
        position: absolute;
        top: 203px;
        left: 37px;
        font-weight: 500;
        display: inline-block;
        width: 181px;
        height: 39px;
    }
    .billing-email {
        position: absolute;
        top: 322px;
        left: 37px;
        font-weight: 500;
        display: inline-block;
        width: 181px;
        height: 39px;
    }
    .frame-child, .frame-item {
        position: absolute;
        border-radius: 5px;
        background-color: #5c5c5c;
        width: 394px;
        height: 36px;
    }
    .frame-child {
        top: 246px;
        left: 37px;
    }
    .frame-item {
        top: 365px;
        left: 37px;
    }
    .found-in-your {
        position: absolute;
        top: 258px;
        left: 47px;
        font-size: 10px;
        font-weight: 500;
        display: inline-block;
        width: 207px;
        height: 28px;
    }
    .email-used-during {
        position: absolute;
        top: 379px;
        left: 47px;
        font-size: 10px;
        font-weight: 500;
        display: inline-block;
        width: 207px;
        height: 28px;
    }
    .track {
        position: absolute;
        top: 452px;
        left: 37px;
        border-radius: 20px;
        background-color: #3f3a3a;
        width: 394px;
        height: 36px;
        overflow: hidden;
    }
    .track-child {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(255, 255, 255, 0);
        width: 394px;
        height: 36px;
    }
    .track1 {
        position: absolute;
        top: 4px;
        left: 162px;
        display: inline-block;
        width: 66px;
        height: 32px;
    }

  .track-order-parent
    .track-order Track Order
    .to-track-your-container
        p.to-track-your To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you on your receip
        p.to-track-your and in the confirmation email you should have received
    .order-id Order ID
    .billing-email Billing email
    .frame-child
    .frame-item
    .found-in-your found in your order confirmation email.
    .found-in-your found in your order confirmation email.
    .email-used-during Email used during checkout.
    .track
        .track-child
        .track1 TRACK