mixin 7(data)
  style.
    .b {
      position: absolute;
      top: 206px;
      left: 71px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .b2 {
      position: absolute;
      top: 226px;
      left: 71px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .button1 {
      position: relative;
      line-height: 100%;
    }
    .button2 {
      position: relative;
      line-height: 100%;
    }
    .button {
      position: absolute;
      top: 272px;
      left: 71px;
      border-radius: 8px;
      background-color: #2c2c2c;
      border: 1px solid #2c2c2c;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px;
      font-size: 16px;
      color: #f5f5f5;
      font-family: Inter;
    }
    .button2 {
      position: absolute;
      top: 279px;
      left: 71px;
      border-radius: 8px;
      background-color: #2c2c2c;
      border: 1px solid #2c2c2c;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px;
      font-size: 16px;
      color: #f5f5f5;
      font-family: Inter;
    }
    .image-icon {
      position: relative;
      top: 0px;
      left: 0px;
      width: 201px;
      height: 209px;
      object-fit: cover;
    }
    .image-icondua {
      position: relative;
      top: 14px;
      left: 0px;
      width: 196px;
      height: 191px;
      object-fit: cover;
      border-radius:22px
    }
    .parent {
      width: 100%;
      position: relative;
      height: 319px;
      text-align: left;
      font-size: 32px;
      color: #fff;
      font-family: Poppins;
    }
    .parent b.b {
      position: relative;
      top: 189px;
      left: 148px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .parent b.b2 {
      position: relative;
      top: 189px;
      left: 148px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .parent .button {
        position: absolute;
        top: 407px;
        left: 147px;
        border-radius: 8px;
        background-color: #2c2c2c;
        border: 1px solid #2c2c2c;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-size: 16px;
        color: #f5f5f5;
        font-family: Inter;
    }
    .parent .button2 {
        position: absolute;
        top: 407px;
        left: 147px;
        border-radius: 8px;
        background-color: #2c2c2c;
        border: 1px solid #2c2c2c;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-size: 16px;
        color: #f5f5f5;
        font-family: Inter;
    }
    .parent img.image-icon {
        position: relative;
        top: 148px;
        left: 0px;
        width: 196px;
        height: 191px;
        object-fit: cover;
        border-radius: 13px;
    }
    .parent img.image-icondua {
        position: relative;
        top: 148px;
        left: 0px;
        width: 196px;
        height: 191px;
        object-fit: cover;
        border-radius: 13px;
    }
    .parent1 { top: 102px; right: 115px; height: 449px; }
    .parent2 { left: 223px; bottom: 350px; height: 83px; }
    .parent3 { left: 544px; bottom: 428px; height: 83px; }
    .parent4 { left: 867px; bottom: 512px; height: 193px; }
    .parent5 { left: 706px; bottom: 475px; height: 50px; }
    .parent6 { left: 384px; bottom: 524px; height: 0px; }
    .parent7 { left: 67px; bottom: 528px; height: 0px; }

    
    @media (max-width: 1024px) {
      .parent { width: 220px; font-size: 28px; }
      .parent1 { top: 50px; right: 80px; height: 400px; }
      .parent2 { left: 180px; bottom: 200px; height: 70px; }
      .parent3 { left: 400px; bottom: 300px; height: 70px; }
      .parent4 { left: 700px; bottom: 350px; height: 180px; }
      .parent5 { left: 600px; bottom: 300px; height: 40px; }
      .parent6 { left: 320px; bottom: 380px; height: 0px; }
      .parent7 { left: 120px; bottom: 380px; height: 0px; }
    }

    
    @media (max-width: 600px) {
      .parent { width: 180px; font-size: 24px; }
      .parent1 { top: 40px; right: 20px; height: 350px; }
      .parent2 { left: 50px; bottom: 180px; height: 60px; }
      .parent3 { left: 200px; bottom: 280px; height: 60px; }
      .parent4 { left: 400px; bottom: 300px; height: 160px; }
      .parent5 { left: 320px; bottom: 250px; height: 30px; }
      .parent6 { left: 180px; bottom: 320px; height: 0px; }
      .parent7 { left: 40px; bottom: 320px; height: 0px; }
    }

  each item, index in data
    .parent(class=`parent${index + 1}`)
      b.b= item.value
      .button
        b.button1 ADD+
      img.image-icon(alt='', src=item.image)

