mixin singlep  
  link(rel="stylesheet", href="singleproduct.css") 

  .row
    .col-2
      img.imgsp1_(src="web-thecartel/image/Icon.png" alt="")
      br
      img.imgsp1(src="web-thecartel/image/singlep.png" alt="")
      br
      img.imgsp1(src="web-thecartel/image/image (4).png" alt="")
      br
      img.imgsp1(src="web-thecartel/image/Rectangle 73.png" alt="")
      br
      img.imgsp1-(src="web-thecartel/image/Icon (1).png" alt="")
    .col-3
      img.imgsp(src="web-thecartel/image/FOTO.png" alt="")
    .col-5
        h1.had The North face
        h1.had The North Face Long-Sleeved  Jacket
        br
        h2.h2 $94
        .dropdown-size
          .dropdown-header-size
            a Select Size
          .dropdown-content-size
            a(href="#") Size L
            a(href="#") Size S
            a(href="#") Size XL
            a(href="#") Size M
        h1.had Dimensions and specifications
        h1.had 100% Polyester
        h1.had Made in Jordan
        .instance-bb
          div.return-to-shop RETURN TO SHOP
