mixin table
  style.
    .image-author {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 279px;
    object-fit: cover;
    }
    .p1 {
    position: absolute;
    top: 77px;
    left: calc(50% - 296px);
    white-space: pre-wrap;
    display: inline-block;
    width: 587px;
    height: 63px;
    }
    .p2 {
    position: absolute;
    top: 130px;
    left: calc(50% - 145px);
    display: inline-block;
    width: 259px;
    height: 57px;
    }
    .image-table {
    width: 1444px;
    position: relative;
    height: 342px;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: 'Inknut Antiqua';
    left: -107px;
    top: 107px;
    }

  
  div.image-table
    img.image-author(alt='', src='web-thecartel/image/image (48).png')
    div.p1 Planning the Ultimate Road Trip
    div.p2 ADVENTURE
