mixin track
  style.
    .rectangle-icon {
        width: 621px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        height: 765px;
        right: 89px;
        top: 152px;
    }
    .rectangle-image {
        width: 100%;
        height: 764px;
        max-width: 100%;
        position: absolute;
    }

  .rectangle-icon
    img.rectangle-image(alt="" src="web-thecartel/image/anime-character-water_23-2151080263.jpg")
