mixin katashoes
  style.
    .shoes {
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        width: 154px;
        height: 90px;
    }
    .frame-child {
        position: absolute;
        top: 97.5px;
        left: -0.5px;
        border-top: 1px solid #fff;
        box-sizing: border-box;
        width: 0px;
        height: 1px;
    }
    .shoes-contaner {
        width: 100%;
        position: relative;
        height: 0px;
        text-align: left;
        font-size: 64px;
        color: #fff;
        font-family: Poppins;
        bottom: 772px;
        left: 454px;
    }

  div.shoes-contaner
        b.shoes shoes
        div.frame-child