mixin six(data)
  style.
    .container {
      display: flex;
      flex-wrap: wrap;
      width: 1319px;
      height: 1102px;
      position: relative;
      left: -39px
    }
    .b {
      position: relative;
      bottom: 93px;
      left: 299px;
      display: inline-block;
      width: 75px;
      height: 64px;
    }
    .button {
      position: absolute;
      top: 113px;
      left: 297px;
      border-radius: 8px;
      background-color: #2c2c2c;
      border: 1px solid #2c2c2c;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px;
      font-size: 16px;
      color: #f5f5f5;
      font-family: Inter;
    }
    .image-icondua {
      position: relative;
      top: 14px;
      left: 0px;
      width: 196px;
      height: 191px;
      object-fit: cover;
      border-radius: 22px;
    }
    .parent {
      width: 294px;
      position: absolute;
      text-align: left;
      font-size: 32px;
      color: #fff;
      font-family: Poppins;
      left: 450px;
      top: 166px;
    }

    // Style untuk masing-masing parent (komponen 1-8)
    .parent1 { top: 405px; right: 115px; height: 449px; }
    .parent2 { left: 800px; bottom: 22px; height: 83px; position: absolute; }
    .parent3 { left: 450px; top: 393px; height: 83px; position: absolute; }
    .parent4 { left: 800px; top: 389px; height: 0px; position: absolute; }
    .parent5 { left: 450px; top: 627px; height: 0px; position: absolute; }
    .parent6 { left: 800px; top: 627px; height: 0px; position: absolute; }
    .parent7 { left: 450px; top: 846px; height: 100px; position: absolute; }
    .parent8 { left: 800px; top: 846px; height: 100px; position: absolute; }

    
    @media (max-width: 1024px) {
      .parent { width: 220px; font-size: 28px; }
      .parent1 { top: 50px; right: 80px; height: 400px; }
      .parent2 { left: 180px; bottom: 200px; height: 70px; }
      .parent3 { left: 400px; bottom: 300px; height: 70px; }
      .parent4 { left: 700px; bottom: 350px; height: 180px; }
      .parent5 { left: 600px; bottom: 300px; height: 40px; }
      .parent6 { left: 320px; bottom: 380px; height: 0px; }
      .parent7 { left: 150px; top: 80px; height: 80px; }
      .parent8 { left: 700px; top: 150px; height: 80px; }
    }

    
    @media (max-width: 600px) {
      .parent { width: 180px; font-size: 24px; }
      .parent1 { top: 40px; right: 20px; height: 350px; }
      .parent2 { left: 50px; bottom: 180px; height: 60px; }
      .parent3 { left: 200px; bottom: 280px; height: 60px; }
      .parent4 { left: 400px; bottom: 300px; height: 160px; }
      .parent5 { left: 320px; bottom: 250px; height: 30px; }
      .parent6 { left: 180px; bottom: 320px; height: 0px; }
      .parent7 { left: 80px; top: 40px; height: 60px; }
      .parent8 { left: 350px; top: 120px; height: 60px; }
    }

  
  .container
    each item, index in data
      .parent(class=`parent${index + 1}`)
        .b= item.value
        .button
          b.button1 CHECKOUT
        img.image-icondua(alt='', src=item.image)
