mixin wlst
  style.
    .baju-chkout {
      width: 100%;
      position: relative;
      height: 149px;
      top: -865px;
      left: -15px;
    }
    .baju-chkout-child {
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 10px;
      width: 486px;
      height: 738px;
      object-fit: cover;
    }
    .arrow-up-circle-icon {
      position: absolute;
      top: 675px;
      left: 425px;
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
    .arrow-up-circle-icon1 {
      position: absolute;
      top: 679px;
      left: 12px;
      width: 48px;
      height: 48px;
      object-fit: contain;
    }

  .baju-chkout
    img.baju-chkout-child(alt='', src='web-thecartel/image/Rectangle 76.png')
    img.arrow-up-circle-icon(alt='', src='web-thecartel/image/kiri.png')
    img.arrow-up-circle-icon1(alt='', src='web-thecartel/image/Arrow up-circle.png')
