body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .gradient-background {
    height: 100%;
    background: linear-gradient(to bottom, #0a2e42, #3a7ca5);
  }
  